@tailwind base;
@tailwind utilities;
@tailwind components;

@layer base {
  /*
 These are the styles from DaisyUI needed
 for the scroll bar colours
*/
  :root {
    /* Default is Dark */
    --primary: theme('colors.gray.100');
    --secondary: theme('colors.primary.400');
  }

  *::selection {
    background: var(--secondary);
    color: var(--primary)
  }


  /* Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: var(--secondary) var(--primary);
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 12px;
  }

  *::-webkit-scrollbar-track {
    background: var(--primary);
    border-radius: 0;
  }

  *::-webkit-scrollbar-thumb {
    background-color: var(--secondary);
    border-radius: 5px;
    border: 2px solid var(--primary);
  }

  .fslightbox-container {
    background: rgba(255,255,255,0.85) !important;
    @apply backdrop-blur;
  }

  .fslightbox-toolbar-button,
  .fslightbox-slide-btn
  {
    border: solid 1px var(--secondary);
    background: rgba(255,255,255,0.85) !important;
    @apply shadow-lg shadow-primary/20;
  }

  .fslightbox-svg-path {
    @apply fill-primary-500 #{!important};
  }

  .fslightbox-slide-number-container
  {
    @apply text-primary #{!important};
  }

  .fslightbox-slash {
    @apply bg-primary #{!important};
  }

  img {
    @apply rounded-xl  #{!important};
  }


}

@layer components {

  @keyframes fade-in {
    0% {
      opacity: 0;
      scale: 1.5;
    }
    100% {
      opacity: 1;
      scale: 1;
    }
  }


  @keyframes finger {
    0%, 100% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(50px);
    }
  }


  @keyframes borderPulse {
    0%, 100% {
      box-shadow: inset var(--secondary) 0 0 0 0;
    }
    50% {
      box-shadow: inset var(--primary) 0 0 5px 5px;
    }
  }


  @media (prefers-reduced-motion) {

    @keyframes fade-in {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }

    @keyframes borderPulse {
      0%, 100% {
        box-shadow: inset var(--secondary) 0 0 0 0;
      }
      50% {
        box-shadow: inset var(--primary) 0 0 2px 2px;
      }
    }


    @keyframes finger {
      0%, 100% {
        transform: translateX(0);
      }
      50% {
        transform: translateX(10px);
      }
    }

  }



  #main {
    opacity: 0;
    transform-origin: top center;
    animation: fade-in 200ms ease-in forwards 200ms;
  }


  .wrapper {
    @apply max-w-7xl w-full mx-auto px-2 sm:px-6 lg:px-8;
  }

  .point {
    animation: finger 1s infinite ease-in-out;
  }

  .heading {
    @apply text-4xl md:text-5xl lg:text-7xl font-black tracking-tight;
  }

  .heading-2 {
    @apply text-3xl md:text-4xl lg:text-5xl font-black tracking-tight;
  }


}
